body{
    background-color: rgb(98, 106, 110);
}

#equal {
    background-color: orangered;
}

.i1{
    color: green;
}

.cal {
    color:white;
    background-color: black;
    position: absolute;
    top:200px;
    left:500px;
    height: 400px;
    width: 300px;
    border: solid 4px rgb(59, 55, 55);
    border-radius: 10px;




}
 button:active{
    background-color: #333;
    color: #e82626;
 }



button {
    color: antiquewhite;
    background-color: rgb(29, 25, 25);
    margin:10px 10px 0 10px;
    height: 50px;
    width: 50px;
    border: solid 2px rgb(46, 42, 42);
    border-radius: 50%;
    box-sizing: border-box;
    

}

input {
    background-color: black;
    color: antiquewhite;
    margin:30px 10px 10px 10px;
    border: solid 2px rgb(46, 42, 42);
    height: 30px;
    width: 260px;
}
.con{
    color:blue;
    border-radius: 2px;
    width: 100px;
    position: absolute;
    top: 625px;
    left:500px;
    border: solid 4px rgb(59, 55, 55);
}
.con1{
    color:blue;
    border-radius: 2px;
    width: 100px;
    position: absolute;
    top: 625px;
    left:600px;
    border: solid 4px rgb(59, 55, 55);
}
.con2{
    color:blue;
    border-radius: 2px;
    width: 100px;
    position: absolute;
    top: 625px;
    left:700px;
    border: solid 4px rgb(59, 55, 55);
}